<!doctype html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Find the coordinates</title>
        <meta name="viewport" content="initial-scale=1.0, width=device-width">

        <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.0/mapsjs-ui.css" />
        <link rel="stylesheet" type="text/css" href={{ url_for("static", filename="css/bootstrap.min.css") }}/>
        <script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
        <script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
        <script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
        <script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-pano.js"></script>
        <script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
        <script type="text/javascript" src={{ url_for("static", filename="js/bootstrap.min.js") }}></script>

        <!--link rel="stylesheet" href={{ url_for("static", filename="css/app.css") }}-->
    </head>

    <body>
      <iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe"></iframe>
        <div class="container" style="width: 0.9" align="center">
          <div class="row mar-bot40">
              <div class="col-md-6" align="center">
                  <form action="/coordinates" method="post" id="text-form" target="dummyframe">
                    <div class="form-group">
                      <label for="text">Your text HERE:</label>
                      <textarea class="form-control" id="text" name="text" cols="40" rows="5"></textarea>
                      <button type="submit" class="btn btn-success">Analyze</button>
                    </div>
                  </form>
                  <div 
              <div id="tagged-text"></div>
              <div class="col-md-6">
                <div id="map1" class="row">
                
                </div>
                <div id="map2" class="row">
                    
                </div>
              </div>
          </div>
        </div>

      <script type="text/javascript">
        /*var platform = new H.service.Platform({
          app_id: "{{ app_id }}",
          app_code: "{{ app_code }}",
        });*/
        
        var getMapImgUrl = function(lat, lng) {
          return 'https://image.maps.api.here.com/mia/1.6/mapview?app_id={{ app_id }}&app_code={{ app_code }}' +
            '&c=' + lat + ',' + lng + '&h=300&w=400&r=300&i';
        };
        
        var getMapHref = function(lat, lng) {
          return 'https://wego.here.com/location/?map=' + lat + ',' + lng + ',15'
        };
        
        var getMapImgElement = function(lat, lng) {
          console.log('req for ' + lat + ';' + lng);
          return '<a target="_blank" rel="noopener noreferrer" href="' + getMapHref(lat, lng) + '">'
            + '<img src="' + getMapImgUrl(lat, lng) + '"/></a>';
        };
        
        var drawTaggedText = function(labels) {
          var origText = $('#text').val();
          var text = ''
          var lastCoord = 0;
          for (var i = 0; i < labels.length; ++i) {
            text += origText.substr(lastCoord, labels[i].text_start - lastCoord);
            text += '<span data-lat="' + labels[i].lat + '" data-lon="' + labels[i].lon
              + '" class="coords" style="background-color:red;">' // TODO: css for style
              + origText.substr(labels[i].text_start, labels[i].text_finish - labels[i].text_start) + '</span>';
            lastCoord = labels[i].text_finish;
          }
          text += origText.substr(lastCoord);
          $('#tagged-text').html(text);
        };
        
        var attachHover = function() {
          $('.coords').hover(function(e) {
            e.preventDefault();
            console.dir(e);
            if (e.type == 'mouseenter') {
              console.log('hovered in!');
              var lat = $(e.target).data('lat');
              var lng = $(e.target).data('lon');
              $('#map1').html(getMapImgElement(lat, lng));
              $('#map2').html(getMapImgElement(lng, lat));
            }
            else if (e.type == 'mouseleave') {
              console.log('hovered out!');
              //$('#map1').empty();
              //$('#map2').empty();
            }
            else {
              console.warn('WRONG HOVER EVENT');
              console.dir(e.type);
            }
          });
        };
        
        
        $('#text-form').submit(function(e) {
          e.preventDefault();
          $.ajax({
              url:'/coordinates',
              type:'post',
              data: $('#text-form').serialize(),
              success: function(labels) {
                drawTaggedText(labels);
                attachHover();
              }
          });
        });
        
      </script>

    </body>
</html>
