<!doctype html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Find the coordinates</title>
        <meta name="viewport" content="initial-scale=1.0, width=device-width">

        <link rel="stylesheet" type="text/css" href="https://js.api.here.com/v3/3.0/mapsjs-ui.css" />
        <link rel="stylesheet" type="text/css" href={{ url_for("static", filename="css/bootstrap.min.css") }}/>
        <script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-core.js"></script>
        <script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-service.js"></script>
        <script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-ui.js"></script>
        <script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-pano.js"></script>
        <script type="text/javascript" charset="UTF-8" src="https://js.api.here.com/v3/3.0/mapsjs-mapevents.js"></script>
        <script type="text/javascript" src="//cdn.jsdelivr.net/jquery/1/jquery.min.js"></script>
        <script type="text/javascript" src={{ url_for("static", filename="js/bootstrap.min.js") }}></script>

        <!--link rel="stylesheet" href={{ url_for("static", filename="css/app.css") }}-->
    </head>

    <body>
      <iframe width="0" height="0" border="0" name="dummyframe" id="dummyframe"></iframe>
        <div class="container" style="width: 0.9" align="center">
          <div class="row mar-bot40">
              <div class="col-md-6" align="center">
                  <form action="/coordinates" method="post" id="text-form" target="dummyframe">
                    <div class="form-group">
                      <label for="text">Your text HERE:</label>
                      <textarea class="form-control" id="text" name="text" cols="40" rows="5"></textarea>
                      <button type="submit" class="btn btn-success">Analyze</button>
                    </div>
                  </form>
              </div>
              <div class="col-md-6">
                <div id="map1" class="row">
                
                </div>
                <div id="map2" class="row">
                    
                </div>
              </div>
          </div>
        </div>

      <script type="text/javascript">
        var platform = new H.service.Platform({
          app_id: "{{ app_id }}",
          app_code: "{{ app_code }}",
        });
      </script>

    </body>
</html>
